body{
    margin: 0;
}

header{
    position: sticky;
    top: 0;
    display: flex;
   flex-direction: column;
    align-items: center;
    border: 5px solid rgb(65, 64, 64);
    padding: 25px;
    color: white;
background-color: #242424;
}
h1{
background-color: #242424;
display: flex;
justify-content: center;
border: 5px solid rgb(134, 133, 133);
border-radius: 10px;
text-align: center;
color: white;
}

.movebutton{
width: 50px;
height: 50px;
border: 2px solid orange;
background-color:rgb(102, 13, 13);
}
.hugeSection{
border: 3px solid grey;
display: flex;
height: 90vh;
}
