html {
  scroll-behavior: smooth;
}

body {
  margin-top: 50px;
}

header {
  position: sticky;
  top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid rgb(65, 64, 64);
  padding: 25px;
  color: white;
  background-color: #242424;
}
h1 {
  background-color: #242424;
  display: flex;
  justify-content: center;
  border: 5px solid rgb(134, 133, 133);
  border-radius: 10px;
  text-align: center;
  color: white;
}
.hugeSection {
  border: 3px solid grey;
  display: flex;
  height: 90vh;
}
